List up to 30 {{domain}} companies located in {{city}}, {{country}} that appear to be actively hiring for any of the following positions:
{{positions}}

Rules:
- If fewer than 30 matching companies are found, return only those identified.
- Include only companies that appear to be actively hiring
