For this company {{company}}, check whether it appears to be hiring for any of the following positions:
{{positions}}

Return the most relevant URLs that indicate hiring activity.
Prefer direct job posting URLs when clearly identifiable.
